/* NAVIGATION */
header {
  position: relative;
}
header nav .nav-container {
  position: fixed;
  width: 100%;
  background: #98a3ad;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  top: 0;
}
header nav .nav-container .nav-button {
  cursor: pointer;
  outline: none;
}
header nav .nav-container .nav-title a {
  outline: none;
  text-decoration: none;
}
header nav .nav-container .nav-expanded {
  position: fixed;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  left: 0;
  margin: 0;
  top: 40px;
  background-color: #98a3ad;
  opacity: 0.9;
}
header nav .nav-container .nav-expanded a {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
  color: white;
  outline: none;
  text-decoration: none;
}
header nav .nav-container .nav-expanded a:hover {
  color: #222222;
}
header nav .nav-container div {
  margin: 0px 10%;
}
header nav .nav-container div h1 {
  color: white;
  font-size: 24px;
}
